<h1>The cat, fueled by the smell of booze, leaps onto your back and infects you with an unknown virus.  You just started the zombie apocalypse. Hooray!</h1>
<br/>
<br/>
<%= link_to "Back to Home Page", root_path %>
